<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <servlet-name>Servlet</servlet-name>
    <servlet-class>com.servlet.Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet</servlet-name>
    <url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AcceuilBackOffice</servlet-name>
    <servlet-class>com.servlet.AcceuilBackOffice</servlet-class>
    <multipart-config>
      <location>/C:/Users/P13A-19-Heritiana/Documents/jee/oke/test2/WebContent/imagestmp/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceuilBackOffice</servlet-name>
    <url-pattern>/AcceuilBackOffice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Recherche</servlet-name>
    <servlet-class>com.servlet.Recherche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Recherche</servlet-name>
    <url-pattern>/Recherche</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.servlet.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Shop</servlet-name>
    <servlet-class>com.servlet.Shop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/Shop</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Details</servlet-name>
    <servlet-class>com.servlet.Details</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Details</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
</web-app>